.definition p{
    display: inline;
    text-align: center;
    font-size: 20px;
  
}
.name{
    background-color: var(--color-brand-green);
    color: white;
    font-size: 20px;
    font-weight: bold;  
}
.definition{
    text-align: center;
    
}
.question{
    color: var(--color-brand-green);
}
img{
float: left;
}
.imgquestions{
    width: 50px; height: 50px;
}
