footer {
  background-image: url("/assets/footer.jpg");
  color: white;
  width: 100%;
  min-height: 150px;
  background-size: cover;
  background-position: bottom;
}

footer .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

footer .logo {
  text-align: left;
}

footer .logo img {
  //max-width: 120px;
  max-width: 10rem;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact p {
  margin: 0;
}

.information-contact {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 1ch;
  text-align: left;
  align-items: center;
}

.information-contact img {
  width: 2rem;
}
