footer {
  background-image: url("/assets/footer.jpg");
  width: 100%;
  min-height: 150px;
  background-size: cover;
  background-position: bottom;
}

footer .logo {
  text-align: center;
}

footer .logo img {
  max-width: 120px;
}
