* {
  box-sizing: border-box;
}

:root {
  --color-brand-yellow: #ef9712;
  --color-brand-blue: #010d3c;
  --color-brand-green: #009c35;
}

html {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  color: var(--color-brand-blue);
}

body {
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 87ch;
  margin: auto;
  padding: 1rem;
}
