header {
  background: linear-gradient(
    var(--color-brand-blue),
    var(--color-brand-green)
  );
  color: white;
  position: relative;
  margin-bottom: calc(2rem + 3vmin);
}

header .container {
  display: grid;
  align-items: center;
  grid-template-areas:
    "logo"
    "navigation"
    "title";
  place-items: center;
  gap: 1rem;
}

header a {
  color: white;
}

header .branding-logo {
  max-width: 10rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 5px 1ch;
  border-radius: 10px;
}

nav ul li:hover {
  background: rgba(255, 255, 255, 0.75);
  a {
    color: var(--color-brand-blue);
  }
}

nav ul a {
  text-decoration: none;
  text-transform: uppercase;
}

.tos-link img {
  height: 1.5em;
}


nav ul a.tos-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  text-transform: none;
}

header section.title {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1ch;
  grid-area: title;
  justify-content: center;
  padding: 5vmin 0 calc(2rem + 5vmin);
  text-align: center;
}

header h1 {
  font-size: clamp(1rem, 10vmin, 4rem);
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}


header section.title .slogan {
  background-color: var(--color-brand-green);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  text-transform: lowercase;
}

header::after {
  background-color: var(--color-brand-yellow);
  background-image: url("/assets/logo.png");
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-size: 3rem;
  border-radius: 2rem;
  bottom: -2rem;
  box-shadow: 0 0 5px gray;
  content: "";
  display: block;
  height: 4rem;
  left: calc(50% - 2rem);
  position: absolute;
  width: 4rem;
}

@media (min-width: 668px) {
  header .container {
    grid-template-areas:
      "logo navigation"
      "title title";
  }
}
