---
import Base from "./Base.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { marked } from "marked";
import type { MarkdownLayoutProps } from "astro";
import Sponsors from "../components/Sponsors.astro";

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string;
  description: string;
}>;

const { frontmatter } = Astro.props;
const {
  title = "Core of **Science**",
  description = "**connecting people** through sharing knowledge",
} = frontmatter;

// This formats any potential markdown as html, and removes the parent tag
const formattedTitle = marked(title).slice(3, -5);
const formattedDescription = marked(description).slice(3, -5);
const rawTitle = formattedTitle.replace(/<[^>]*>?/gm, "");
---

<Base title={rawTitle}>
  <Header title={formattedTitle} slogan={formattedDescription} />
  <main>
    <div class="container">
      <slot />
    </div>
    <Sponsors />
  </main>
  <Footer />
</Base>
