---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="about <strong>us</strong>"
  slogan="get to know <strong>us</strong> better"
>
  <div class="definition">
    <div class="container">
      <p>
        <span class="name">Core Of Science</span>
        is a non-profit organization, we promote the science and data science and
        we help young and graduates students to link up to this knowledge areas.
      </p>
    </div>
  </div>

  <div class="container questions">
    <img class="imgquestions" src="/assets/about-us.png" />
    <div>
      <section class="question">
        <h3 class="question-title">WHY DO WE DO THIS?</h3>
        <p class="answers">
          Tree of Science its a beautifull tree with trunk, leaves and roots of
          the one article.
        </p>
      </section>
      <section class="question">
        <h3 class="question-title">HOW DO WE DO THIS?</h3>
        <p class="answers">
          Tree of Science its a beautifull tree with trunk, leaves and roots of
          the one article..
        </p>
      </section>
    </div>
  </div>

  <div class="container">
    <h2>Our values</h2>
    <div class="values">
      <img class="imagen" src="/assets/value1.png" />
      <section class="value">
        <h3>SHARING KNOWLEDEGE</h3>
        <p class="textValue">
          We think knowledge become all the better when shared, that´s why our
          mission is to share critical knowledge with people and organizations
          alike. Knowledge allows people to overcome socio-economic barriers and
          helps organizations make the most of their investments.
        </p>
      </section>
    </div>
  </div>
</Layout>
