<footer>
  <div class="container">
    <div class="logo">
      <img src="/assets/logo-white.png" alt="Core of Science" />
    </div>

    <div class="contact">
      <div class="information-contact">
        <img class="contact-icons" src="/assets/phone-icon.png" alt="Phone" />
        <p>
          <strong>+57 318 659 4478</strong><br />
          Sebastian Robledo Giraldo
        </p>
      </div>
      <div class="information-contact">
        <img
          class="contact-icons"
          src="/assets/address-icon.png"
          alt="Address"
        />
        <p>
          Calle 44 nº 29b 28 <br />
          Dosquebradas
        </p>
      </div>
      <div class="information-contact">
        <a href="mailto:director@coreofscience.org">
          <img class="contact-icons" src="/assets/email-icon.png" alt="Email" />
          director@coreofscience.org
        </a>
      </div>
    </div>

    <div class="contact">
      <div class="information-contact">
        <a href="https://www.instagram.com/coreofscience/?hl=es">
          <img
            class="contact-icons"
            src="/assets/instagram-icon.png"
            alt="Instagram"
          />
          @coreofscience
        </a>
      </div>
      <div class="information-contact">
        <a href="https://www.youtube.com/c/CoreofScience">
          <img
            class="contact-icons"
            src="/assets/youtube-icon.png"
            alt="YouTube channel"
          />
          Core of Science
        </a>
      </div>
      <div class="information-contact">
        <a href="https://twitter.com/core_of_science">
          <img
            class="contact-icons"
            src="/assets/twitter-icon.png"
            alt="Twitter"
          />
          @core_of_science
        </a>
      </div>
      <div class="information-contact">
        <a href="https://www.facebook.com/coreofscience">
          <img
            class="contact-icons"
            src="/assets/facebook-icon.png"
            alt="Facebook page"
          />
          Core of Science
        </a>
      </div>
      <div class="information-contact">
        <a href="https://github.com/coreofscience">
          <img
            style="filter: brightness(100)"
            class="contact-icons"
            src="/assets/github.svg"
            alt="GitHub"
          />
          coreofscience
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <small>&copy; 2021 Core of Science, Corp.</small>
  </div>
</footer>
