<footer>
  <div class="container">
    <div class="logo">
      <img src="/assets/logo-white.png" />
    </div>

    <div class="contact">
      <div class="information-contact">
        <img class="contact-icons" src="/assets/iconos footer telefono.png" />
        <p>
          <strong>+57 318 659 4478</strong><br />
          Sebastian Robledo Giraldo
        </p>
      </div>
      <div class="information-contact">
        <img class="contact-icons" src="/assets/iconos footer-direccion.png" />
        <p>
          Calle 44 nº 29b 28 <br />
          Dosquebradas
        </p>
      </div>
      <div class="information-contact">
        <a href="mailto:director@coreofscience.org"
          ><img
            class="contact-icons"
            src="/assets/iconos footer correo.png"
          />director@coreofscience.org</a
        >
      </div>
    </div>

    <div class="contact">
      <div class="information-contact">
        <a href="https://www.instagram.com/coreofscience/?hl=es"
          ><img src="/assets/iconos footer-instagram.png" />@coreofscience
        </a>
      </div>
      <div class="information-contact">
        <a href="https://www.youtube.com/c/CoreofScience"
          ><img src="/assets/iconos footer-youtube.png" />Core of Science</a
        >
      </div>
      <div class="information-contact">
        <a href="https://twitter.com/core_of_science"
          ><img src="/assets/iconos footer-twitter.png" />@core_of_science</a
        >
      </div>
      <div class="information-contact">
        <a href="https://www.facebook.com/coreofscience"
          ><img src="/assets/iconos footer-facebook.png" />Core of Science</a
        >
      </div>
      <div class="information-contact">
        <a href="https://github.com/coreofscience">
          <img
            style="filter: brightness(100)"
            class="contact-icons"
            src="/assets/github.svg"
          />
          coreofscience
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <small>&copy; 2021 Core of Science, Corp.
  </div>
</footer>
