---
const sponsors = [
  {
    id: "bios",
    url: "https://bios.co",
    name: "BIOS Manizales",
    logo: "/assets/sponsors/bios.svg",
  },
  {
    id: "funlam",
    url: "https://www.funlam.edu.co/",
    name: "Universidad Católica Luiz Amigó",
    logo: "/assets/sponsors/funlam.svg",
  },
  {
    id: "unad",
    url: "https://www.unad.edu.co/",
    name: "Universidad Nacional Abierta y a Distancia",
    logo: "/assets/sponsors/unad.svg",
  },
];
---

<section class="container sponsors">
  <div class="sponsors-slogan">
    <span class="green">"connecting people</span><br />through sharing
    knowledge"
  </div>
  <div class="sponsors-links">
    {
      sponsors.map((sponsor) => (
        <a
          class="sponsor"
          id={sponsor.id}
          href={sponsor.url}
          target="_blank"
          rel="norefereer noopener"
        >
          <img src={sponsor.logo} alt={sponsor.name} />
        </a>
      ))
    }
  </div>
</section>
