---
const sponsors = [
  {
    id: "bios",
    url: "https://bios.co",
    name: "BIOS Manizales",
    logo: "/assets/sponsors/bios.svg",
  },
  {
    id: "unal",
    url: "https://unal.edu.co",
    name: "Universidad Nacional de Colombia",
    logo: "/assets/sponsors/unal.svg",
  },
  {
    id: "funlam",
    url: "https://www.funlam.edu.co/",
    name: "Universidad Católica Luiz Amigó",
    logo: "/assets/sponsors/funlam.svg",
  },
  {
    id: "unad",
    url: "https://www.unad.edu.co/",
    name: "Universidad Nacional Abierta y a Distancia",
    logo: "/assets/sponsors/unad.svg",
  },
];
---

<section class="container flex flex-col items-center gap-4">
  <div class="text-center text-lg leading-relaxed">
    <span class="bg-green-800 text-white p-2 rounded-md">
      "connecting people
    </span>
    <br />
    through sharing knowledge"
  </div>
  <div class="flex flex-row flex-wrap gap-4 justify-center">
    {
      sponsors.map((sponsor) => (
        <a
          id={sponsor.id}
          href={sponsor.url}
          target="_blank"
          rel="norefereer noopener"
        >
          <img class="h-20 2xl:h-32" src={sponsor.logo} alt={sponsor.name} />
        </a>
      ))
    }
  </div>
</section>
