{% extends "base.html" %} {% block content %}
<div class="hero">
  <div class="container container-principal">   
</div>
</div>
<div class="definition">
  <div class="container">
  
    <p class="name">Core Of Science</p> <p>is a non-profit organization, we promote
    the science and data science and we help young and
    graduates students to link up to this knowledge areas.</h2>
    </p>
  
  </div>
</div>
<div class="questions">
  <div class="container">
    <img class="imgquestions" src="/assets/about us.png">
    <p class="prueba"> 
    <div class="question">
      <h3>WHY DO WE DO THIS?</h2>
    </div>
    <div class=answers>
      <p>Tree of Science its a beautifull tree with
      trunk, leaves and roots of the one article.</p>
    </div>
    <div class="question">
      <h3>HOW DO WE DO THIS?</h2>
    </div>
    <div class=answers>
      <p>Tree of Science its a beautifull tree with
      trunk, leaves and roots of the one article..</p>
    </div>
  </p>
  </div>
</div>
<div class="values">
  <div class="container">
    <h2>Our values</h2>

    <div class="value">
      <h3>SHARING KNOWLEDEGE</h2>
    </div>
    <div class=textValue>
      <p>We think knowledge become all the better
        when shared, that´s why our mission is to
        share critical knowledge with people and
        organizations alike. Knowledge allows
        people to overcome socio-economic
        barriers and helps organizations make the
        most of their investments.</p>
    </div>
    <div class="value">
      <h3>CREATING SCIENCE</h2>
    </div>
    <div class=textValue>
      <p>Science is made by humans, their time,
        happiness and fulfillment is very important
        to our organization.
        We want to develop tools that make
        research easier, faster and more effective.
        And to do so, we need to make science or
        care, front and center.</p>
    </div>
    <div class="value">
      <h3>BUILDING TECHNOLOGY</h2>
    </div>
    <div class=textValue>
      <p>Core of Science maintains a set of open
        source tools amd some infraestructure.
        We build, mantain and host these tools
        with the aim of making the day to day life
        of students and researchers happier and
        productive.</p>
    </div>
    
  </div>
</div>







{% endblock content %}
