<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Core or Science - Connecting people by sharing knowledge."
    />
    <meta name="keywords" content="science, sharing, education, research" />
    <meta name="author" content="Core of Science, Corp." />
    <meta name="copyright" content="2021 Core of Science." />
    <title>Core of Science</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-icon-192x192.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />

    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#009d35" />

    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Oswald&family=Ubuntu:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div class="container">
        {% set home = get_section(path="_index.md") %}
        <a class="branding" href="{{ home.path }}">
          <img
            class="branding-logo"
            src="/assets/logo-white.png"
            alt="Core of Science"
            title="Core of Science"
          />
        </a>
        <nav>
          <ul>
            <li>
              {% set projects = get_section(path="projects/_index.md") %}
              <a href="{{ projects.path }}">Projects</a>
            </li>
            <li>
              {% set about = get_page(path="about.md") %}
              <a href="{{ about.path }}">About</a>
            </li>
            <li>
              {% set people = get_section(path="people/_index.md") %}
              <a href="{{ people.path }}">People</a>
            </li>
            <li>
              {% set help = get_page(path="help.md") %}
              <a href="{{ help.path }}">Help</a>
            </li>
            <li>
              {% set dian = get_section(path="dian/_index.md") %}
              <a href="{{ dian.path }}">DIAN</a>
            </li>
            <li>
              {% set contact = get_page(path="contact.md") %}
              <a href="{{ contact.path }}">Contact</a>
            </li>
          </ul>
        </nav>
        <section class="title">
          <h1>
            {% if section %}
            {{ section.title | markdown(inline=true) | safe }}
            {% else %}
            {{ page.title | markdown(inline=true) | safe }}
            {% endif %}
          </h1>
          {% set slogan = "**connecting people** through sharing knowledge" %}
          <span class="slogan">
            {% if section and section.description %}
            {{ section.description | markdown(inline=true) | safe }}
            {% elif page and page.description %}
            {{ page.description | markdown(inline=true) | safe }}
            {% else %}
            {{ slogan | markdown(inline=true) | safe }}
            {% endif %}
          </span>
        </section>
      </div>
    </header>
    <main id="content">
      <div class="container">{% block content %}Hello{% endblock %}</div>
      <section class="container sponsors">
        {% for sponsor in config.extra.sponsors %}
        <a
          class="sponsor"
          id="{{ sponsor.id }}"
          href="{{ sponsor.url }}"
          target="_blank"
          rel="norefereer noopener"
        >
          <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" />
        </a>
        {% endfor %}
      </section>
    </main>
    <footer>
      <div class="container">
        <div class="logo">
          <img src="/assets/logo-white.png" />
        </div>

        <div class="contact">
          <div class="information-contact">
            <img
              class="contact-icons"
              src="/assets/iconos footer telefono.png"
            />
            <p>
              <strong>+57 318 659 4478</strong><br />
              Sebastian Robledo Giraldo
            </p>
          </div>
          <div class="information-contact">
            <img
              class="contact-icons"
              src="/assets/iconos footer-direccion.png"
            />
            <p>
              Calle 44 nº 29b 28 <br />
              Dosquebradas
            </p>
          </div>
          <div class="information-contact">
            <a href="mailto:director@coreofscience.com" ><img class="contact-icons" src="/assets/iconos footer correo.png" />director@coreofscience.com</a>
          </div>

        </div>

        <div class="contact">
          <div class="information-contact">
            <a href="https://www.instagram.com/coreofscience/?hl=es"><img src="/assets/iconos footer-instagram.png" />@coreofscience </a>
            
          </div>
          <div class="information-contact">
            <a href="https://www.youtube.com/c/CoreofScience"><img src="/assets/iconos footer-youtube.png" />Core of Science</a>
          
          </div>
          <div class="information-contact">
            <a href="https://twitter.com/core_of_science"><img src="/assets/iconos footer-twitter.png" />@core_of_science</a>
          </div>
          <div class="information-contact">
            <a href="https://www.facebook.com/coreofscience"><img src="/assets/iconos footer-facebook.png">Core of Science</a>
          </div>
          <div class="information-contact">
            <a href="https://github.com/coreofscience" >
              <img style="filter: brightness(100);"
              class="contact-icons"
              src="/assets/github.svg"/>
              coreofscience
            </a>
            </div>
        </div>
      </div>
    </footer>
    <script type="application/javascript">
      console.log(`{{__tera_context}}`);
    </script>
  </body>
</html>
