<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#009d35" />
    <meta
      name="description"
      content="Core or Science - Connecting people by sharing knowledge."
    />
    <meta name="keywords" content="science, sharing, education, research" />
    <meta name="author" content="Core of Science, Corp." />
    <meta name="copyright" content="2021 Core of Science." />
    <title>Core of Science</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Oswald:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="content">{% block content %}Hello{% endblock %}</div>
  </body>
</html>
