---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout>
    <div class="hero">
      <div class="container container-principal">
        <div class="slogan">
          <strong> non-profit organization <br />dedicated to science</strong>
        </div>
        <br />
        <img class="green-separator" src="/assets/linea-08.png" />
        <div class="mission">
          <p>
            Our mission is to <strong>training in data science</strong> for
            <br />research, technology and innovation.
          </p>
        </div>
      </div>
    </div>
</Layout>
